.back-block {
  padding-bottom: 1em;
}

.random-nr {
  padding: 0.5em;
  display: inline-block;
  margin: 0.2em;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 4px;
}